.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sparkle {
  0%, 100% {
    text-shadow: 0 0 5px #ff9, 0 0 10px #ff9, 0 0 15px #f09;
  }
  50% {
    text-shadow: 0 0 10px #ff3, 0 0 20px #ff3, 0 0 30px #f93;
  }
}

.sparkle {
  background: linear-gradient(90deg, #ff9, #f09, #ff3);
  -webkit-background-clip: text;
  color: transparent;
  animation: sparkle 1.5s infinite alternate;
}
